:root {
  --background: #0f0f11;
  --main-text: #fff;
  --pink: #ff6ec7;
  --text-secondary: #b5b5be;
  --rating-red: #e50914;
  --rating-green: #21d07a;
  --rating-orange: #ff9800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--main-text);
  font-family: "Inter", sans-serif;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  padding: 20px;
  height: 60px;
}

.header_logo {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.header_logo:hover {
  color: var(--pink);
  cursor: pointer;
  transition: 0.3s;
}

#header_search {
  width: 400px;
  height: 30px;
  border: 2px solid var(--background);
  border-radius: 5px;
  padding: 5px;
}

#header_search:hover {
  background-color: transparent;
  border: 2px solid var(--pink);
  cursor: pointer;
  transition: 0.3s;
  color: var(--pink);
}

.film {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-block: 10px;
  margin-inline: 100px;
}

.film_card {
  margin: 10px;
  width: 200px;
  position: relative;
}

.film_poster {
  width: 100%;
  min-height: 300px;
  border-radius: 5px;
}

.film_poster:hover {
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 50px var(--pink);
  transform: scale(1.02);
}

.film_poster-info {
  padding-block: 10px;
}

.film_poster-title {
  font-weight: 500;
  font-size: 18px;
}

.film_poster-genre {
  font-size: 16px;
  color: var(--text-secondary);
}

.film_poster-average {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 36px;
  height: 36px;
  background-color: var(--background);
  padding: 5px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}

.film_poster-average--green {
  border: 2px solid var(--rating-green);
}

.film_poster-average--orange {
  border: 2px solid var(--rating-orange);
}

.film_poster-average--red {
  border: 2px solid var(--rating-red);
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(15, 15, 17, 0.7);
  transition: width 2s;
}

.modal--show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__card {
  max-width: 50%;
  padding: 20px;
  box-shadow: 0 0 100px var(--pink);
  background-color: rgba(15, 15, 17, 0.9);
  border-radius: 10px;
  color: var(--main-text);
  display: flex;
  flex-direction: column;
}

.modal__movie-backdrop {
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  margin-block: 30px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
  color: var(--main-text);
}

.modal__movie-title:hover {
  cursor: pointer;
  transition: 0.3s;
  font-size: 24px;
  color: var(--main-text);
  text-shadow: 0px 0px 20px var(--pink);
}

.modal__movie-release-year {
  font-size: 18px;
}

.modal__movie-info {
  margin-block: 20px;
  align-self: stretch;
}

ul li {
  padding: 5px;
  list-style-type: none;
  font-size: 20px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
